name: PlatformIO CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install platformio
    - name: Run PlatformIO
      run: platformio ci --project-conf=platformio.ini . src/partitions_ota.csv src/partitions_no_ota.csv
      env:
        PLATFORMIO_CI_SRC: .
